.container {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5rem;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 5rem;
}

.loadMore {
  margin-top: 1rem;
}
